@font-face {
	font-family: 'BartinaBold';
	src: url('../../assets/fonts/bartina-bold.eot'); /* IE 9 Compatibility Mode */
	src: url('../../assets/fonts/bartina-bold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../../assets/fonts/bartina-bold.woff2') format('woff2'), /* Super Modern Browsers */
		url('../../assets/fonts/bartina-bold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../../assets/fonts/bartina-bold.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../../assets/fonts/bartina-bold.svg#bartina-bold') format('svg'); /* Chrome < 4, Legacy iOS */
}
@font-face {
	font-family: 'Bartina-Light';
	src: url('../fonts/bartina-light.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/bartina-light.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/bartina-light.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/bartina-light.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/bartina-light.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/bartina-light.svg#bartina-light') format('svg'); /* Chrome < 4, Legacy iOS */
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #000;
    outline: none;
    scroll-behavior: smooth;
  }
.container{
    width: 100%;
    max-width: 1583px;
    margin: 0 auto;
    min-height: inherit;
    z-index: 1;
    position: relative;
}
.site{
    width: 100%;
    margin: 0 auto;
    font-family: 'Bartina Bold';
}
.site-header__text{
    text-transform: uppercase;
    color: #fff;
    font-size: 30px;
    margin-left: 19px;
    font-family: "BartinaBold";
}
.site-header-contacts__link{
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 40px;
    font-family: "Bartina-Light";
}
.site-header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.site-header-info{
    display: flex;
    align-items: center;
}
.site-header-blur{
    width: 100%;
    max-width: 824px;
    height: 658px;
    border-radius: 35px;
    border: 7px solid #002D4D;
    background: rgba(11, 28, 41, 0.32);
    backdrop-filter: blur(4px);
    position: absolute;
    right: -30px;
    top: 122px;
    z-index: 2;
}
.site-header-contacts{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.site-header-content{
    position: relative;
    overflow: hidden;
    min-height: 780px;
}
.site-header-bg{
    width: 100%;
    background: url("../../assets/img/1.jpg") no-repeat;
    min-height: inherit;
    position: absolute;
    z-index: 0;
    background-size: cover;
    background-position-x: right;
}
.site-header-description{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    position: relative;
    z-index: 1;
    width: 100%;
    background: #fff;
    position: absolute;
    bottom: 0;
    display: flex;
}
.description-action::before{
    width: 300px;
    height: inherit;
    content: "";
    background: #002D4D;
    position: absolute;
    left: -300px;
    z-index: 1;
}
.description-action{
    color: #FFF;
    font-family: "BartinaBold";
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: 108.5%; /* 37.975px */
    text-transform: uppercase;
    border-radius: 0 12px 12px 0;
    background: #002D4D;
    height: 66px;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-top: 21px;
}

.site-header-contacts{
    height: 50px;
}
.site-main-content{
    width: 100%;
}
.site-main__content{
    margin: 100px 0 50px 0;
}
.site-main-title{
    color: #002D4D;
    font-family: "BartinaBold";
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}
.site-main__product{
    font-family: "BertinaNormal";
    width: 100%;
    min-height: 450px;
    margin-top: 40px;
    background-color: #002D4D;
    overflow: hidden;
}  
.product__title{
    color: #FFF;
    font-family: "BartinaBold";
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 36px;
} 
.product-container{
    position: relative;
    padding-left: 100px;    
}
.product__description{
    color: #FFF;
	font-family: 'Bartina-Light';
    font-size: 35px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-transform: uppercase;
}
.product-bg{
    background: url("../../assets/img/aboutProductBG.jpg") no-repeat;
    background-size: cover;
    width: 100%;
    height: 235px;
    transform: rotate(-4deg);
}
.clip{
    width: 109%;
    height: inherit;
    clip-path: ellipse(55% 72% at 51% 27%);
    transform: rotate(4deg);
}
.site-main-about{
    min-height: 424px;
}
.about-content{
    background: url("../../assets/img/aboutBG.jpg") no-repeat;
    min-height: inherit;
    background-size: cover;
}
.about__title, .contacts-info__title, .map__title{
    font-family: "BartinaBold";
    color: #FFF;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    padding-top: 50px;
}
.map__title{
    padding-left: 29px;
}
.map__title--color{
    color: #000;
}
.map__title--padding{
    padding-top: 26px;
}
.site-main-contacts{
    background-color: #002D4D;
    min-height: 376px;
}
.contacts-info, .map{
    display: inline-block;
}
.site-main-contacts-map{
    width: 100%;
    max-width: 629px;
    min-height: 300px;
    background: #D9D9D9;
    position: absolute;
    right: 0;
    top: 50px;
}
.site-footer{
    width: 100%;
    background-color: #002D4D;
    min-height: 129px;
    border-top: 2px solid #fff;
}
.description__title{
    color: #002D4D;
    font-family: "BartinaBold";
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}
.description__slogan{
    color: #002D4D;
    font-family: "Bartina-Light";
    font-size: 35px;
    font-style: normal;
    font-weight: 300;
    line-height: 108.5%;
    text-transform: uppercase;
    max-width: 473px;
}
.site-header-mobile{
    display: none;
    flex-direction: column;
    align-items: center;
}
.header-mobile__title{
    text-align: center;
    text-transform: uppercase;
}
.header-mobile__link{
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    text-decoration: none;
    width: 100%;
    background: #002D4D;
    height: 38px;
    color: #fff;
    font-family: "BartinaBold";
    font-weight: 600;
}
.header-mobile-middle{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 24px 0 0;
}
.header-mobile__button{
    width: 100%;
    display: flex;
    justify-content: center;
}
.header-mobile__title{
    color: #002D4D;
    text-align: center;
    font-family: "BartinaBold";
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}
.header-mobile__slogan{
    width: 100%;
    max-width: 278px;
    color: #002D4D;
    text-align: center;
    font-family: "Bartina-Light";
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 108.5%; /* 21.7px */
    text-transform: uppercase;
    margin: 11px 0;
}
.header-mobile-bottom{
    background: url("../../assets/img/banner.jpg") no-repeat;
    background-position-x: right;
    width: 100%;
    min-height: 726px;
    border-bottom: 3px solid #002D4D;
}
.description__elem{
    width: 100%;
    max-width: 555px;
    min-height: 117px;
    border-radius: 35px;
    border: 3px solid #002D4D;
    backdrop-filter: blur(4px);
    margin-top: 11px;
}
.header-mobile-number__link{
    color: #002D4D;
    text-align: center;
    font-family: "Bartina-Light";
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: 108.5%; /* 16.275px */
    text-transform: uppercase;
    text-decoration: none;
}
.header-mobile-number{
    position: absolute;
    top: 35px;
    right: 50px;
}
@media(min-width: 1990px){
    .site-header-blur{
        max-width: 41.3%;
        right: -30px;
        top: 126px;
    }
    .container{
        width: 1920px;
    }
    .site-header-bg{
        background-size: cover;
        background-position-x: center;
    }
}
@media(min-width: 2140px){
    .site-header-content{
        min-height: 900px;
    }
    .site-header-blur{
        max-width: 41.3%;
        right: -52px;
        top: 242px;
    }
}
@media(min-width: 2200px){
    .site-header-blur{
        max-width: 41.8%;
        right: -52px;
        top: 242px;
    }
}
@media(max-width: 1700px){
    
}
@media(max-width: 768px){
    .site{
        background: url("../img/mobileBG.jpg");
    }
    .site-header-mobile{
        display: flex;
    }
    .site-header-content{
        display: none;
    }
    .site-main-title{
        text-align: center;
        margin: 30px 0;
    }
    .site-main__product{
        max-width: unset;
        width: 97%;
        margin: 0 10px 30px 10px;
        border-radius: 10px;
    }
    .site-main__content{
        margin: unset;
    }
    .about__title{
        text-align: center;
    }
    .site-main-contacts-map{
        position: relative;
        top: 0;
        max-width: unset;
    }
    .map__title, .contacts-info__title{
        text-align: center;
    }
    .contacts-info{
        width: 100%;
        min-height: 241px;
    }
}